body{
  background-color: black;
  font-family: Verdana;
}

h1{
  color: white;
  font-size: 50px;

}

p{
  color:white;
  text-align: center;
}

.link{
  color: aquamarine;
  text-decoration: underline;
  text-align: center;
  font-size: 16px;
}

dir{
  text-align: center;
  margin-top: .1in;
}

.guide{
  font-weight: 300;
  font-size: 42px;
}

#gray{
  color: gray;
  font-size: 21px;
}

.copyright{
  color: gray;
  text-align: right;
  font-size: 21px;
}
